<nav data-sly-use.languageNavigation="com.adobe.cq.wcm.core.components.models.LanguageNavigation"
     data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.groupTemplate="group.html"
     data-sly-call="${groupTemplate.group @ items=languageNavigation.items}"
     data-sly-test.hasContent="${languageNavigation.items.size > 0}"
	 data-cmp-data-layer="${languageNavigation.data.json}"
      data-cmp-is="extendlangnav"
      id="${languageNavigation.id}"
     class="cmp-languagenavigation"
     aria-label="${languageNavigation.accessibilityLabel}">
</nav>
<sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent, classAppend='cmp-languagenavigation'}"></sly>